<h2 class="page-title">Demande soumise</h2>

<p class="my-1">Numéro de la demande : {{ getFieldValue('permitId')}}</p>
<p class="my-1">Date de création : {{ getFieldValue('dateCreated') | dateM }}</p>

<hr class="mt-4 mb-4">

<h4 class="page-title">Analyse</h4>

<div class="card mb-4" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">Montant de {{ getFieldValue('geometry.insideElements') * 10 }} $ CAD</h5>
    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
    <p class="card-text">
      Ce montant est estimé en fonction de la zone d'impacte (le polygone dessiné à l'étape précédente).
      Ces frais ne sont pas remboursables.
    </p>
  </div>
</div>

<h4 class="page-title">Localisation</h4>

<app-map [editMode]="false"></app-map>


<h4 class="page-title mt-5">Vos renseignements</h4>


<p class="my-1">Nom de la compagnie : {{ getFieldValue('company.companyName') }}</p> 
<p class="my-1">Est-ce une compagnie privée : {{ getFieldValue('company.isPrivateCompany') | booleanToText }}</p> 

<p class="my-1" *ngIf="getFieldValue('company.certificateNumber')">
  Numéro de certificate : {{ getFieldValue('company.certificateNumber')  | certificate }}</p> 

<p class="my-1" *ngIf="getFieldValue('contact.firstName')">
  Prénom : {{ getFieldValue('contact.firstName') }}</p> 

<p class="my-1" *ngIf="getFieldValue('contact.lastName')">
  Nom : {{ getFieldValue('contact.lastName') }}</p> 

<p class="my-1" *ngIf="getFieldValue('contact.phone')">
  Téléphone : {{ getFieldValue('contact.phone') | phone }}</p> 

<p class="my-1" *ngIf="getFieldValue('contact.email')">
  Courriel : {{ getFieldValue('contact.email') }}</p> 
  
<p class="my-1">Date de début : {{ getFieldValue('duration.periodStart') | dateM }}</p> 
<p class="my-1">Date de fin : {{ getFieldValue('duration.periodEnd') | dateM }}</p> 



<hr class="mt-5 mb-4">

<div class="">   
    <button type="button" class="btn btn-outline-primary me-3" (click)="onBackClicked()">Retour à la liste</button>
    
</div>
