.backdrop {
    position: fixed;
    top: 57px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 57px);
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.menu-box {

    margin: 0 auto;
    width: 250px;
    top: 57px;

    z-index: 100;
    background: white;
}

a.link:link, a.link:visited {
    /* color: seagreen; */
    text-decoration: none;
    }
    
  a.link:hover, a.link:active {
    /* text-decoration: underline; */
    text-decoration: none;
  }

  li { cursor: pointer; }