<div class="backdrop" (click)="onMenuLinkClicked()">
    <div class="menu-box p-0">

        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action" routerLink="">
                Accueil
            </li>
            <li class="list-group-item list-group-item-action" routerLink="/permit">
                Demandes de permis
            </li>

            <li class="list-group-item list-group-item-action" routerLink="/inspection">
                Rapports d'inspection
            </li>          

          </ul>       

    </div>    
</div>


