<div class="card text-bg-light" style="width: 16em;">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>      
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <a href="https://en.wikipedia.org/" target="_blank" class="card-link link-primary">
        <span class="me-2">Lien vers la demarche</span>
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </div>
  </div>

