<app-main-navbar></app-main-navbar>

  
<div class="content-box mx-auto p-3">

    <h2 class="page-title">Bienvenue</h2>

    <p>
        J'ai crée ce projet pour explorer les fonctionnalités offertes par Angular, Bootstrap, MapBox et MapLibre.
        <!--Le backend est écrit en Python avec Flask et utilise une base de donnees Postgres. -->
        Le backend est écrit en Node.js et utilise une base de données MongoDB.
    </p>
    
    <p>
        La section des <a class="link-primary" routerLink="/permit">demandes de permis</a> montre un formulaire de plusieurs étapes. 
        Une de ces étapes permet à soumettre des données déréférencées (dessiner un polygone sur une carte interactive).
    </p>

    <p>
        La section des <a class="link-primary" routerLink="/inspection">rapports d'inspection</a> 
        montre la carte des réseaux d'égout et d'aqueduc où on utilise différentes thématiques 
        pour visualiser l'état des éléments.
    </p>

    <p>&copy; {{ currentYear }} Georgi Gatin</p>

</div> 




